<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snailometer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <img id="intro-logo" src="{{ url_for('static', filename='images/loading_image.png') }}" alt="Logo">

    <div id="landing-content">
        <div id="spacer-top"></div>
        <div id="app-title">snailometer</div>
        <img id="snail-image" src="{{ url_for('static', filename='images/snail.png') }}" alt="Snail" />
        <div id="spacer-middle"></div>
        <div id="spacer-bottom"></div>
        <div id="tagline">finally an app brave enough to ask: how slow is too slow?</div>
        <div id="start-button">start crawling</div>
    </div>

    <div id="main-content" style="display:none;">
        <div id="main-container">
            <div id="main-title">snailometer</div>
            <img id="main-snail" src="{{ url_for('static', filename='images/snail.png') }}" alt="Snail" />
            <div id="subtitle">The ultimate tool for tracking microscopic movement... at glacial speed.</div>
            
            <div class="button-container">
                <div id="upload-video" class="main-action">upload video</div>
                <div id="use-webcam" class="main-action">use webcam</div>
                <div id="change-unit" class="main-action">pixel per second</div>
            </div>

            <div id="warning">⚠️ Warning: Watching snail speed in real-time may cause time dilation.</div>
        </div>
    </div>


    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
